body{background:#F0F0F0;}
.denglu_header{
  height:52px;
  padding:52px 0 34px 0;
  .denglu_header_div1{
    height:56px;
    padding-left:100px;
    width:1090px;
    img{
      display:inline-block;
      width:196px;
      height:56px;
      padding:0;
      border:0;
      margin:0;
    }
    h2{
      width:72px;
      padding-left:20px;
      color: #666;
      font-size: 18px;
      font-weight: 100;
      display: inline-block;
      padding-top:30px;
    }
    .denglu_header_div2{
      width:510px;
      height:40px;
      line-height: 20px;
      padding:5px 10px 5px 10px ;
      border:1px solid #f60;
      margin-left:200px;
      background-color: #fdf7e9
    }
  }
}

/*登录*/
.denglu_main{
  background:#f11a0c;
  height:480px;
  .denglu_main_w{
    width:998px;
    margin:0 auto;
    position: relative;
      img{
         margin:0 auto;
         width:1000px;
         height:480px;
         display: block;
         position: relative;
       }
    .denglu_main_div1{
      background:rgba(255,255,255,0.9);
      width:340px;
      height:360px;
      position: absolute;
      top:60px;
      right:0px;
      .denglu_main_div1_div1{
        width:340px;
        height:24px;
        padding:18px 0;
        border-bottom: 1px solid #e6e6e6;
        color:#666666;
       div{
         margin:0 40px;
         font-size: 20px;
       }
        span{
          line-height:24px;
        }
      }
      .active21{
        color:#89b929 ;
      }

      .denglu_main_div1_div2{
        width:340px;
        height:220px;
        div{
          display: none;
        }
        .show21{
          display: block;
        }
        #denglu_main_div1_div2_div2{
          height:220px;
          width:340px;
          ul{
            width:280px;
            heihgt:180px;
            margin: 0px 30px;
            li:nth-child(1){
              width:280px;
              height:38px;
              margin-top:34px;
              position: relative;
              span{
               position: absolute;
                width:40px;
                height:36px;
                background:url("../images/allbgs.png") no-repeat -62px 4px;
              }
              b{
               position: absolute;
                left:38px;
                font-size: 18px;
                line-height: 36px;
                color: #bdbdbd;
              }
              input{
                float:left;
                width:230px;
                height:36px;
                line-height: 36px;
                border:1px solid #bdbdbd;
                padding-left:48px;
                font-size: 14px;
              }

            }
            li:nth-child(2){
              width:280px;
              height:38px;
              margin-top:10px;
              position: relative;
              span{
                position: absolute;
                width:40px;
                height:36px;
                background:url("../images/allbgs.png") no-repeat -62px -31px;
              }
              b{
                position: absolute;
                left:38px;
                font-size: 18px;
                line-height: 36px;
                color: #bdbdbd;
              }
              input{
                float:left;
                width:230px;
                height:36px;
                line-height: 36px;
                border:1px solid #bdbdbd;
                padding-left:48px;
                font-size: 14px;
              }

            }
            li:nth-child(3){
              font-size: 13px;
              width:280px;
              height:24px;
              line-height: 24px;
              margin-top:5px;
              a{
                float:right;
                color:#f60;
              }
            }
            li:nth-child(4){
              width:280px;
              height:40px;
              margin-top:16px;
              input{
                width:280px;
                height:40px;
                color:#fff;
                font-size: 16px;
                background:#f60;
                border:0;
                border-radius: 3px;
              }
            }
          }
        }
      }
      .denglu_main_div1_div3{
        width:300px;
        height:60px;
        padding:0 20px;
        background:#ebebf1;
        position: absolute;
        bottom:0;
        .denglu_main_div1_div3_a{
          float:left;
          width:32px ;
          height:32px;
          margin-top:14px;
          margin-right:8px;
          background:url("../images/allbgs.png") no-repeat;
        }
        a:nth-child(1){background-position:-120px -74px;}
        a:nth-child(2){background-position:0 -74px;}
        a:nth-child(3){background-position:-40px -74px;}
        a:nth-child(4){background-position:-80px -74px;}
        div{
          float:right;
          width:77px;
          height:60px;
          a{
            font-size: 14px;
            color:#f60;
            line-height:60px;
            i{
              float:right;
              width:16px;
              height:16px;
              margin:22px 0 0 5px ;
              background:url("../images/index/tubiao.png") no-repeat -412px -940px;
            }
          }
        }
      }
    }
  }
}

.denglu_wide_footer{
  height:170px;
  background:#F0F0F0;
  margin-top:20px;
  padding-top:10px;
  .wide_footer_titi3{
    height:65px;
    padding:14px 0;
    text-align: center;
    p{
      padding-top:5px;
      line-height: 16px;
      span{
        padding:0 5px;
      }
      img{
        width:20px;
        height:20px;
      }
    }
  }
  .wide_footer_titi4{
    text-align: center;
    img{
      width:115px;
      height:40px;
      margin:0 20px;
    }
  }
}
